<div class="todo-app">
    <div class="task-toast" :class="taskStatus" v-if="taskMessage">
        <p>{{taskMessage}}</p>
    </div>
    <div class="center">
        <div class="header">
            <h3>Todos</h3>
        </div>
        <div class="add-task">
            <input type="text" placeholder="Task name" v-model="task">
            <button class="btn btn-task" @click="addTaskHandler">{{!isEditEnable?'Add task':'Update task'}}</button>
        </div>
        <div class="task-category-wrap" :class="category+'-item'">
            <div class="task-category business-cat">
                <span class="bubble business"></span>
                <input type="radio" name="category" value="Business" id="business" v-model="category">
                <label for="business">Business</label>
            </div>
            <div class="task-category personal-cat">
                <span class="bubble personal"></span>
                <input type="radio" name="category" value="Personal" id="personal" v-model="category">
                <label for="personal">Personal</label>
            </div>
        </div>
        <div class="task-list-wrap" v-if="tasks.length > 0">
            <div class="task-list" v-for="(task, index) in tasks" :key="index">
                <div class="task-item">
                    <span>{{ task.name }}</span>
                </div>
                <div class="task-item">
                    <span>{{ task.category }}</span>
                </div>
                <div class="task-item">
                    <div class="action-wrap">
                        <button class="btn btn-edit" @click="editTaskHandler(index)">
                            <IconEdit />
                        </button>
                        <button :class="isEditEnable ? 'btn-disabled' : ''" class="btn btn-delete" @click="deleteTaskHandler(index)">
                            <IconDelete />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="task-list-empty" v-else>
            <div class="icon">
                <IconFile />
            </div>
            <h3>Add your first task</h3>
        </div>
    </div>
</div>