//Fonts Stack
$lato: 'Lato', sans-serif;
$inter: 'Inter', sans-serif;
//System Fonts
$base-font:   $inter;

//Colors
$white:        #ffffff;
$red:          #BA0F0F;
$blue:         #162844;
$blue-dark:    #0F1B2F;
$yellow:       #F2C549;
$light-yellow: #C4AF7D;
